.hidden {
  display: none;
}

h1,
.sage-serenity-tagline {
  color: #333e39;
  font-family: fantasy;
}

h2,
.nav-right {
  color: #333e39;
  font-family: fantasy;
  font-size: xx-large;
  margin: auto;
}

body {
  min-height: 100vh;
  margin: 0;
  margin: auto;
  background: #82a393;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flower {
  margin-left: 20px;
  width: 160px;
  height: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: end;
  background-color: #b8d6c4;
  padding-top: 20px;
  padding-right: 20px;
  font-family: fantasy;
  font-weight: bold;
  font-size: x-large;
}

.dashboard-button {
  margin-right: 10px;
}

button {
  background-color: #b8d6c4;
  color: #41564c;
  font-weight: bold;
  font-family: fantasy;
  padding: 10px 20px;
  border-color: rgb(102, 126, 102);
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

button:hover,
.login-button:hover {
  background-color: #8cb2a5;
}

button:active {
  background-color: #8ab39c;
  color: #b8d6c4;
  transform: scale(0.95);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 25px;
}

.booking-wrapper {
  display: flex;
  justify-content: center;
}

.outer-booking-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #b8d6c4;
  width: 500px;
  border: 3px solid rgb(221, 233, 227);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
}

.bookings-title {
  width: 200px;
  height: 200px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.booking-scroll-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #b8d6c4;
  width: 400px;
  height: 600px;
  border: 3px solid rgb(131, 165, 148);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.booking-scroll-box::-webkit-scrollbar {
  width: 10px;
}

.booking-scroll-box::-webkit-scrollbar-track {
  background: transparent;
}

.booking-scroll-box::-webkit-scrollbar-thumb {
  background-color: rgba(107, 171, 127, 0.5);
  border-radius: 5px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  color: #1b231f;
  font-size: 20px;
  background-color: #b8d6c4;
  width: 500px;
  height: 350px;
  border: 3px solid rgb(221, 233, 227);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
}

.username-wrapper,
.password-wrapper {
  margin-bottom: 15px;
}

.login-button {
  background-color: #8eb5a2;
  color: #324138;
  font-weight: bold;
  width: 150px;
  font-family: fantasy;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

.login-button:active {
  background-color: #8ab39c;
  color: #b8d6c4;
  transform: scale(0.95);
}

.login-button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-error-message {
  color: rgb(203, 79, 79);
  font-weight: bolder;
  font-family: fantasy;
}

.bookings-message {
  color: #222926;
  font-weight: bolder;
  font-family: fantasy;
}

.past-booking-cards,
.upcoming-booking-cards,
.available-rooms-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: 445px;
  color: #242a28;
  background-color: #8ebaa4;
  font-family: fantasy;
  font-size: larger;
  border: 3px solid rgb(70, 96, 83);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 80px;
  margin: 20px;
  line-height: 1;
}

.modal-text {
  color: #222926;
  font-family: fantasy;
  font-size: large;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ddf4e9;
  border-radius: 20px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 20%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.available-rooms-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.outer-available-rooms-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #b8d6c4;
  width: 500px;
  border: 3px solid rgb(221, 233, 227);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
}

.available-rooms-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #b8d6c4;
  width: 400px;
  height: 600px;
  border: 3px solid rgb(131, 165, 148);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.available-rooms-box::-webkit-scrollbar {
  width: 10px;
}
.available-rooms-box::-webkit-scrollbar-track {
  background: transparent;
}
.available-rooms-box::-webkit-scrollbar-thumb {
  background-color: rgba(107, 171, 127, 0.5);
  border-radius: 5px;
}

.roomImg {
  width: 300px;
  height: 290px;
}
