/* * {
  border: 1px solid rgb(20, 21, 20) !important;
} */

.hidden {
  display: none;
}

h1,
.sage-serenity-tagline {
  color: #333e39;
  font-family: fantasy;
}
h2,
.nav-right {
  color: #333e39;
  font-family: fantasy;
  font-size: xx-large;
  margin: auto;
}
body {
  min-height: 100vh;
  margin: 0;
  margin: auto;
  background: #82a393;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flower {
  margin-left: 20px;
  width: 160px;
  height: 150px;
}
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: end;
  background-color: #b8d6c4;
  padding-top: 20px;
  padding-right: 20px;
  font-family: fantasy;
  font-weight: bold;
  font-size: x-large;
}
.dashboard-button {
  margin-right: 10px;
}
button {
  background-color: #b8d6c4;
  color: #709382;
  font-weight: bold;
  font-family: fantasy;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}
button:hover {
  background-color: #8cb2a5;
}
button:active {
  background-color: #8ab39c;
  color: #b8d6c4;
  transform: scale(0.95);
}
.main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 25px;
}

.booking-wrapper {
  display: flex;
  justify-content: center;
}

.outer-booking-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #b8d6c4;
  width: 500px;
  border: 3px solid rgb(221, 233, 227);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
}

.bookings-title {
  width: 200px;
  height: 200px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.booking-scroll-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #b8d6c4;
  width: 400px;
  height: 600px;
  border: 3px solid rgb(131, 165, 148);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}
.booking-scroll-box::-webkit-scrollbar {
  width: 10px;
}
.booking-scroll-box::-webkit-scrollbar-track {
  background: transparent;
}
.booking-scroll-box::-webkit-scrollbar-thumb {
  background-color: rgba(107, 171, 127, 0.5);
  border-radius: 5px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  color: #4e6158;
  font-size: 20px;
  background-color: #b8d6c4;
  width: 500px;
  height: 350px;
  border: 3px solid rgb(221, 233, 227);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
}

.username-wrapper,
.password-wrapper {
  margin-bottom: 15px;
}

.login-button {
  background-color: #82a393;
  color: #b8d6c4;
  font-weight: bold;
  width: 150px;
  font-family: fantasy;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

.login-button:hover {
  background-color: #8cb2a5;
}
.login-button:active {
  background-color: #8ab39c;
  color: #b8d6c4;
  transform: scale(0.95);
}

.login-button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-error-message {
  color: rgb(203, 79, 79);
  font-weight: bolder;
  font-family: fantasy;
}

.past-booking-cards,
.upcoming-booking-cards,
.available-rooms-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 240px;
  color: #212825;
  font-family: fantasy;
  font-size: larger;
  border: 3px solid rgb(131, 165, 148);
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 80px;
  margin: 20px;
  line-height: 1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #ddf4e9;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 60%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.available-rooms-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.available-rooms-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #b8d6c4;
  width: 500px;
  height: 600px;
  border: 3px solid rgb(221, 233, 227);
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
}

.available-rooms-box::-webkit-scrollbar {
  width: 10px;
}
.available-rooms-box::-webkit-scrollbar-track {
  background: transparent;
}
.available-rooms-box::-webkit-scrollbar-thumb {
  background-color: rgba(107, 171, 127, 0.5);
  border-radius: 5px;
}
